<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>UTENTI</h2>

<table>
  <tr>
    <th>Nome</th>
    <th>Password</th>
    <th>Genere</th>
  </tr>
  <tr>
    <td>Luca</td>
    <td>password05</td>
    <td>Maschio</td>
  </tr>
  <tr>
    <td>Gianni</td>
    <td>password02</td>
    <td>Maschio</td>
  </tr>
  <tr>
    <td>Anita</td>
    <td>password03</td>
    <td>Femmina</td>
  </tr>
  
</table>

</body>
</html>

